@import "tailwindcss";

:root {
  --background: #f1f5f3; 
  --foreground: #2c3e50;
  --primary: #00a8b5;    
  --accent: #ffcd42;     
  --danger: #ff5a5f;     
  --map-fill: #dbe5df;
  --map-stroke: #adb5bd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-danger: var(--danger);
  --color-map-fill: var(--map-fill);
  --color-map-stroke: var(--map-stroke);
  --font-inter: var(--font-inter);
}

body {
  background-color: var(--background);
  background-image: radial-gradient(#d3dbd6 1.5px, transparent 1.5px) !important;
  background-size: 20px 20px !important;
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

/* Force remove the black accessibility box when clicking paths */
path {
  outline: none !important;
}
path:focus {
  outline: none !important;
}

.container-custom {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-8 py-3 rounded-full font-medium tracking-wide text-sm hover:bg-[#008c98] transition-all shadow-md hover:shadow-lg active:scale-95;
  }
  .btn-accent {
    @apply bg-accent text-[#2c3e50] px-8 py-3 rounded-full font-medium tracking-wide text-sm hover:bg-[#e6b83b] transition-all shadow-md hover:shadow-lg active:scale-95;
  }
}
